appdirs==1.4.3
beautifulsoup4==4.5.3
defusedxml==0.5.0
Django==1.10.3
django-app-namespace-template-loader==0.4.1
django-appconf==1.0.2
django-blog-zinnia==0.18.1
django-bootstrap-form==3.2.1
django-contrib-comments==1.8.0
django-mptt==0.8.7
django-tagging==0.4.5
django-user-accounts==2.0.0
django-xmlrpc==0.1.7
jsonfield==2.0.1
Markdown==2.6.8
mots-vides==2015.5.11
oauthlib==2.0.1
olefile==0.44
packaging==16.8
Pillow==4.0.0
pinax-eventlog==1.1.2
pinax-theme-bootstrap==7.11.0
pinax-webanalytics==2.0.4
Pygments==2.2.0
PyJWT==1.4.2
pyparsing==2.2.0
python3-openid==3.1.0
pytz==2016.10
regex==2017.2.8
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
social-auth-app-django==1.1.0
social-auth-core==1.2.0
zinnia-theme-bootstrap==0.5.1
